
<div id="mainnav" class="navbar navbar-fixed-top" >
  <div class="navbar-inner">

    <a class="brand">
      <span class="yellow"></span>
      <span class="blue"></span>
      <span class="red"></span>
      <span class="text">IKABOO</span>
    </a>

  </div>
</div>

<script type="text/javascript">
	require(['SearchViewModel']);

</script>

<div class="headspace"></div>


  <form id="headSearch" class="form-inline">

    <div class="control-group">
      <div class="controls">

      <label class="control-label" for="requestinput">Je recherche &nbsp;</label>
      <input type="text" id="requestinput" data-bind="value:SearchRequest"  class="input-medium search-query"/>
      </div>
    </div>

  </form>

  <ul id="results" data-bind="foreach:SearchResults" class="row thumbnails threads-list">

    <li class="span2">

      <div class="thumbnail thread">
        <div class="book-desc">
          <div class="desc-img">
            <img data-bind="attr:{src:Cover}">
            <div data-bind="text:Description"></div>
          </div>
          <div class="details">
            <em data-bind="text:Format" class="format"></em>
            <em data-bind="text:FormattedPrice" class="price"></em>
            <em data-bind="text:ShortTitle" class="titre court" ></em>  
            <em data-bind="text:VeryShortTitle" class="titre trescourt" ></em>  
            <em data-bind="text:Title" class="titrecache"></em>
            <span class="trescourt">par <span data-bind="text:ShortShopName"> </span></span>
            <span class="court">par <span data-bind="text:ShopName" ></span></span>
          </div>
          <!-- <p data-bind="text:Description"></p> -->
        </div>

      </div>

    </li>

  </ul>

<div class="bonus about">
  <span class="title">A<br><br>P<br>R<br>O<br>P<br>O<br>S</span>
</div>

<div class="bonus contact">
  <span class="title"><br><br><br>C<br>O<br>N<br>T<br>A<br>C<br>T</span>
</div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="right:50px;top:90px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-512a1a0f32e05908"></script>
<!-- AddThis Button END -->

